@import "tailwindcss";

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

:where(.css-dev-only-do-not-override-l9pxc0).ant-carousel .slick-prev,
:where(.css-dev-only-do-not-override-l9pxc0).ant-carousel .slick-next {
  color: black;
  opacity: 0.6;
}
/* Ẩn scrollbar nhưng vẫn scroll được */

/* Chrome, Safari, Edge */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Firefox */
.no-scrollbar {
  scrollbar-width: none;
}

/* IE, Edge cũ */
.no-scrollbar {
  -ms-overflow-style: none;
}
